<style>
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); / Adjust as needed /
}
</style>
<ion-modal-view class ="model-width">
<ion-header>
    <div class="bar bar-header new-header back-btn">
    <div class="new_img" style="margin-top: 2%"><img src="{{imgURI}}" /></div>
    <p class="col col-65">Classgenie</p>
    <a href="javascript:void(0);" class="dropdown-icon" on-tap="openSideMenu1($event)"><span class="ion-android-more-vertical col"></span></a>
    </div>
  </ion-header>
  <ion-content>
  <ion-refresher
  pulling-text="Pull to refresh..."
  on-refresh="doRefresh()">
  </ion-refresher>

  <div class="tabs-striped tabs-top tabs-color-light new-tab">
  </div>
  <br />
  <center>
  <label class="item item-input" style="width:98%;margin-bottom:10px;">
                
                <input type="text" placeholder="Search"  ng-model="search_name" ng-keyup="searchStory(search_name)">
                <i class="icon ion-search" ng-click="search_story()"></i>

              </label></center>

              <div class="col feedback_tab">
            <button class="button button-positive new_tab_btn disable-user-behavior award_tab" id="removeClass" ng-click="openclassstory()" >Class Story
            </button>

            <button class="button button-positive new_tab_btn disable-user-behavior" id="removeClass2" ng-class="addClass(kidstory)" ng-click="showkidstory()" >
                Kids Story 
            </button>
        </div>

  <div class="list item item-avatar status_post">

  <div class="row">
    
  <div class="col col-90">
  <center><div class="right_status"><h2>Welcome {{username}}</h2><p style="white-space:normal">Here you'll see updates, photos, and announcements from school.</p></div></center>
  
  </div>
  </div>
  </div>
  <div class="col col-100 no_post" ng-if="showmsg==true">
   <p style="" >No post available now..</p> 
   </div>
  <ion-list  ng-model="listdata"> 
  
 <ion-item ng-repeat="item in items track by $index" margin="10px" class="margin_new_top_parent"> 
 
 
      <div class="item item-avatar">
         <img ng-if="!item.teacher_name.image" ng-src="img/chat_user.png">
         <img  ng-if="item.teacher_name.image" ng-src="{{imagePath}}profile_image/{{item.teacher_name.image}}">
        <h2> {{item.teacher_name.name}} <span><span ng-if="item.student_name.name" class="ion-arrow-right-c"></span> {{item.student_name.name}} </h2></span>
        
        <p class="example"><span class="ion-arrow-right-c"></span>{{item.class_name.class_name}}&nbsp;&nbsp;({{item.class_name.grade}})</p>
        <div class="right-date"><p> {{item.date}}</p></div>
      </div>
      

      <div class="item item-body"  >
        <img class="full-image" ng-if="item.ext =='jpg'" ng-src="{{imagePath}}{{item.image_folder}}/{{item.image}}" >
          
      <div ng-if="item.ext =='mp4' || item.ext =='3gp'">
            <video ng-src="{{video(item.image)}}" class="centerme" controls="controls" ></video>
            </div>
             <p>
            {{item.message}}
            </p>
        
      <div class="likes-views">
              <p on-tap="likes()"><span class="ion-heart"></span><span id="like_icon_{{$index+1}}">{{item.likes}}</span> Likes</p>
               <p><span class="ion-checkmark-circled"></span>{{item.comment_count}} Comments</p>
               <h3 style="display:none">{{item.id}}</h3> 

           </div>
                  <div>
                  <p class="comment-box">
                  <input type="hidden" id="hid_liked_status_{{$index+1}}" value="{{item.liked}}" />
                  <a href="javascript:void(0);" class="subdued {{item.liked == 1 ? 'clicked-color': ''}}" on-tap="openLikePage('{{$index+1}}')" id="liked_id_{{$index+1}}"><span class="ion-heart"></span>
                   <span style="display:none">{{item.class_id}}</span> </a>
                  <a href="javascript:void(0);" class="subdued" on-tap="openCommentPage()"><span class="ion-chatbox-working"></span></a>
                  <a style="display:none">{{item.class_name}}</a>
                  <a style="display:none">{{item.date}}</a>
                  <p style="display:none">{{item.teacher_name.image}}</p>
                  </p>
                  <!-- <div class="icon-right" on-tap="openCommentMenu($event)">
                     <span class="ion-android-more-vertical"></span>
                  </div> -->
          </div>
          </div>
      
            
      </ion-item>
      </ion-list>
  <div class="clearfix"></div>
       <center><button class="more-btn" on-tap="pagging()" ng-if="postCount > 9">More</button></center> 
  
</ion-content>
</ion-modal-view>

