<div class ="model-width">
	   <ion-header>
    		<div class="bar bar-header new-header back-btn">
    			<a href="#/parent_profile"><div class="ion-android-arrow-back back-icon"></div>
    				</a>
                    <p class="col-80">Notification Setting</p>
			</div>
		</ion-header>
		<ion-content class="margin-top">
    		<div class="list ion_list_new">
                <br />
                <span class="toggal_lable">Notification</span>
                <ion-toggle ng-model="Notification_Settings.checked"
                            ng-change="Notification_Settings_Change()" class="new_toggle">
                </ion-toggle>
           </div>
	    </ion-content>
</div>
