<ion-modal-view>
  <ion-header>
    <div class="bar bar-header new-header back-btn">
      <a href="javascript:void(0)" on-tap="closecheckcode()"><div class="ion-close back-icon col"></div></a>

      <h1 class="title">Add Student Code</h1>
    </div>
  </ion-header>
  <ion-content class="body-back">
    <form  class="login-form">
      <div class="col logo-img">
        <img ng-src="img/logo.png" / ><br>
      </div>
      <div ng-hide="message" class="chat-bubble new_right">
        <div class="message"><span>The student code should be of minimun 7 charecters for Ex. S123543</span>
        </div></div>
        <div class="item item-input new-item" id ="user">
          <input  id="studentcode" type="text" placeholder="ex.S123456" ng-model="studentcode">
          <span  class="ion-help-circled" on-tap="toggleCustom()"></span>
        </div>
        <button class="button button-block submit-btn" on-tap="addstudentcode()" id="checkuser">Add new student code
        </button>
      </form>
    </ion-content>
  </ion-modal-view>