<ion-modal-view class ="model-width">
<ion-header>
<div class="bar bar-header new-header back-btn">
  <a href="#">
    <div class="ion-android-arrow-back back-icon"></div></a>
    <p class="col-90">Demo Class</p>
    <a href="#" class="dropdown-icon"><span class="ion-android-more-vertical"></span></a>
  </div>

</ion-header>
<ion-content>
<div class="tabs-striped tabs-top tabs-color-light new-tab">
  <div class="tabs classgenie-tab">
    <a class="tab-item active" href="#/classroom">
      <i class="ion-person-stalker"></i>
    </a>
    <a class="tab-item" href="#/classstory">
      <i class="ion-images"></i>

    </a>
    <a class="tab-item" href="#messages">
      <i class="ion-android-chat"></i>

    </a>

    <a class="tab-item" href="#">
      <i class="ion-android-notifications"></i>

    </a>
 </div>


</div>

<div class="row new-top">
  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-social-snapchat"></span><br />
    <p>Whole Class</p>
  </a>
  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-social-snapchat"></span><br />
    <p>Whole Class</p>
  </a>

  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-social-snapchat"></span><br />
    <p>Whole Class</p>
  </a>

  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-social-snapchat"></span><br />
    <p>Whole Class</p>
  </a>
</div>
<div class="row new-top">
  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-social-snapchat"></span><br />
    <p>Whole Class</p>
  </a>
  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-social-snapchat"></span><br />
    <p>Whole Class</p>
  </a>

  <a href="javascript:void(0);" class="col col-25 my-class-box">
    <span class="ion-plus-round"></span><br />
    <p>Add Class</p>
  </a>

</div>

</ion-content>
<div class="bar bar-footer new-footer">
  <a href="javascript:void(0);" class="col col-20 footer-box"><span class="ion-ios-clock"></span><p>Attendance</p></a>

  <a href="javascript:void(0);" class="col col-20 footer-box"><span class="ion-android-checkbox-outline"></span><p>Award multiple</p></a>
  <a href="javascript:void(0);" class="col col-20 footer-box"><span class="ion-shuffle"></span><p>Random</p></a>
  <a href="javascript:void(0);" class="col col-20 footer-box"><span class="ion-compass"></span><p>Timer</p></a>
  <a href="javascript:void(0);" class="col col-20 footer-box"><span class="ion-android-bulb"></span><p>Big Ideas</p></a>
</div> 
</ion-modal-view>

